<launch>

    <!-- ROS <-> Unity Connection -->
    <param name="use_sim_time" value="true"/>
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch"/>

    <!-- Registration -->
    <include file="$(find registration)/launch/registration.launch">
        <arg name="cloud_topic" value="/camera/ahat"/>
    </include>

    <!-- Yolo -->
    
</launch>
