<launch>
    <!-- Args -->
    <arg name="cuda" default="true"/>
    <arg name="render" default="false"/>

    <!-- RS Camera -->
    <include file="$(find yolo)/launch/rs_rgbd.launch">
        <arg name="output" value="log"/>
        <arg name="depth_width"         value="640"/>
        <arg name="depth_height"        value="480"/>
        <arg name="depth_fps"           value="30"/>
        <arg name="color_width"         value="640"/>
        <arg name="color_height"        value="480"/>
        <arg name="color_fps"           value="30"/>
    </include>

    <!-- YOLO -->
    <node pkg="yolo" type="detect.py" name="yolo">
        <param name="cuda" value="$(arg cuda)"/>
        <param name="render" value="$(arg render)"/>
    </node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"/>

</launch>