<launch>
    <!-- Args -->
    <arg name="cuda" default="true"/>
    <arg name="render" default="false"/>

    <!-- RS Camera -->
    <include file="$(find yolo)/launch/rs_rgbd.launch">
        <arg name="output" value="log"/>
    </include>

    <!-- YOLO -->
    <node pkg="yolo" type="detect.py" name="yolo">
        <param name="cuda" value="$(arg cuda)"/>
        <param name="render" value="$(arg render)"/>
    </node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz"/>

</launch>